.cartGrid{
    margin-bottom: 20px !important;
}

.toolbarMargin{
    height:  80px;
}

.cartButtons{
    display: flex;
    white-space:  nowrap ;
    margin: 16px auto;
    /* margin: 10px auto; */
}

.cartButtons > Button{
    margin-right:  10px;
}

.cartBottom {
 margin-left: 20px !important;
}

.link{
    text-decoration: none;
}

.cartItem{
    
}
