


.cardTitlePrice{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
}

.cardContent{
    padding-bottom: 0 !important;
}

.cardContent p {
    margin-bottom: 0;
}