.card{
    height: 360px !important;
    width: 310px;
    margin: auto;
}

.cardMedia{
    /* height: 60%; */
    height:60% !important;
    width:100% !important;
}

.cardTitlePriceCart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.buttons{
    display: flex;
    align-items: center;
    white-space:  nowrap ;
}

.cardActions{
    width:80%;
    margin: auto;
}
